<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.virtualspace.database.dao.PositionMapper" >
  <resultMap id="BaseResultMap" type="com.virtualspace.database.model.Position" >
    <id column="pk" property="pk" jdbcType="CHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    pk, longitude, latitude
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.virtualspace.database.model.PositionKey" >
    select 
    <include refid="Base_Column_List" />
    from position
    where pk = #{pk,jdbcType=CHAR}
      and position = #{position,jdbcType=OTHER}
  </select>
  
  <select id="getPositions" resultMap="BaseResultMap" parameterType="com.virtualspace.database.model.PosQueryCondition">
    select 
    <include refid="Base_Column_List" />
    from position 
    where latitude &gt; #{lat} - #{maxDisByl} and latitude &lt; #{lat} + #{maxDisByl} and longitude &gt; #{lon} - #{maxDisByl} and longitude &lt; #{lon} + #{maxDisByl} order by ACOS(SIN((#{lat} * 3.1415) / 180 ) * SIN((latitude * 3.1415) / 180 ) + COS((#{lat} * 3.1415) / 180 ) * COS((latitude * 3.1415) / 180 ) *COS((#{lon} * 3.1415) / 180 - (longitude * 3.1415) / 180 ) ) * 6380 ASC limit #{limit}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="com.virtualspace.database.model.PositionKey" >
    delete from position
    where pk = #{pk,jdbcType=CHAR}
      and position = #{position,jdbcType=OTHER}
  </delete>
  <insert id="insert" parameterType="com.virtualspace.database.model.Position" >
    insert into position (pk, position, longitude, 
      latitude)
    values (#{pk,jdbcType=CHAR}, #{position,jdbcType=OTHER}, #{longitude,jdbcType=REAL}, 
      #{latitude,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.virtualspace.database.model.Position" >
    insert into position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pk != null" >
        pk,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pk != null" >
        #{pk,jdbcType=CHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=OTHER},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.virtualspace.database.model.Position" >
    update position
    <set >
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
    </set>
    where pk = #{pk,jdbcType=CHAR}
      and position = #{position,jdbcType=OTHER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.virtualspace.database.model.Position" >
    update position
    set longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL}
    where pk = #{pk,jdbcType=CHAR}
      and position = #{position,jdbcType=OTHER}
  </update>
</mapper>